input {
	background: none; padding: 0.25em 0.5em 0.31em; border-radius: 0.25em; border: 2px solid rgb(94, 108, 119); transition:0.1s; border-image: none; color: rgb(94, 108, 119); font-size: 1.5em; -webkit-transition: all .100s;
}
input:focus {
	border-color: rgb(162, 172, 179); color: rgb(162, 172, 179);
}
input.keyup {
	border-color: white; color: white; box-shadow: 0px 0px 0.25em white, inset 0px 0px 0.25em white; text-shadow: 0px 0px 0.12em white;
}
body {
	display: flex; justify-content: center; align-items: center; -webkit-box-align: center; -webkit-align-items: center; -webkit-box-pack: center; -webkit-justify-content: center;
}
canvas {
	left: 0px; top: 0px; right: 0px; bottom: 0px;  pointer-events: none;
}
input {
	font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}
:-ms-input-placeholder {
	transition:0.25s; color: rgb(94, 108, 119); text-shadow: 0px 0px 0.12em transparent; -webkit-transition: all .25s;
}
input:-ms-input-placeholder:focus {
	opacity: 0.5;
}
html {
	height: 100%; overflow: hidden;
}
body {
	height: 100%; overflow: hidden;
}
html {
	background: rgb(40, 46, 51);
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  box-shadow: 1em 1em 2em 2em rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  line-height: 1.5;
}
.qrzone {
  margin:20px;
  background-color: rgba(255, 255, 255, 0.75);
  min-width:450px;
  min-height:400px;
  display: block;
  font-size:2em;
}

.qrzone small:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: .5em;
}
.qrzone small:last-child {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  padding-top: .5em;
}
.qrimage {
    min-width: 400px;
    min-height: 350px;
}